@CHARSET "ISO-8859-1";

.image{
	display: block;
    margin-left: auto;
    margin-right: auto; 
	width:52%;
}

.loader{
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

body{
	background-color:#DCD8D9;
}

.main{
	display:none;
}

.textW{
margin-left: auto;
margin-top: 20px;
margin-right: auto;
text-align:center;
color: #52251C;
font-size: 30px;
font-family: "wedding";
font-weight: bold;
}

.formW{
	padding-top: 10px;
	width: 300px;
	margin: auto;
	color: #52251C;
	font-size: 26px;
	font-family: "wedding";
	 font-weight: bold;
	text-align:center;
}


.needName{
	color:red;
	display:none;
}

.success{
	display:none;
	color:green;
	margin: auto;
	font-size: 26px;
	font-family: "wedding";
	font-weight: bold;
	text-align:center;
}


#nom{
	width: 96px;
}

@font-face {
    font-family: "wedding";
    src: url('wedding.ttf');
}

.myButton {
	margin-top:5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#52251C;
	font-family:arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}
